In [17]:
import pandas as pd
import numpy as np
import os

In [18]:
columnas_a_leer = [
    'periodo',
    'comuna',
    'n_personas_0_40_comuna',
    'n_personas_41_50_comuna',
    'n_personas_51_60_comuna',
    'n_personas_61_70_comuna',
    'n_personas_71_80_comuna',
    'n_personas_81_90_comuna',
    'n_personas_91_100_comuna',
    'total_comuna'
]

In [19]:
df = pd.read_csv("DATOS_CONSOLIDADOS_RSH_limpio.csv", usecols=columnas_a_leer)

C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1637952373.py:1: DtypeWarning: Columns (10,14,18,22,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("DATOS_CONSOLIDADOS_RSH_limpio.csv", usecols=columnas_a_leer)

In [20]:
df

,periodo,comuna,n_personas_0_40_comuna,n_personas_41_50_comuna,n_personas_51_60_comuna,n_personas_61_70_comuna,n_personas_71_80_comuna,n_personas_81_90_comuna,n_personas_91_100_comuna,total_comuna
0,202308,1101,76653,12457,12836,12530,15521,29046,13110,172153
1,202308,1101,76653,12457,12836,12530,15521,29046,13110,172153
2,202308,1101,76653,12457,12836,12530,15521,29046,13110,172153
3,202308,1101,76653,12457,12836,12530,15521,29046,13110,172153
4,202308,1101,76653,12457,12836,12530,15521,29046,13110,172153
...,...,...,...,...,...,...,...,...,...,...
343547,202305,16305,10050,1301,1105,846,854,1008,281,15445
343548,202305,16305,10050,1301,1105,846,854,1008,281,15445
343549,202305,16305,10050,1301,1105,846,854,1008,281,15445
343550,202305,16305,10050,1301,1105,846,854,1008,281,15445
343551,202305,16305,10050,1301,1105,846,854,1008,281,15445

In [21]:
df.duplicated().sum()

np.int64(327013)

In [22]:
df = df.drop_duplicates()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16539 entries, 0 to 343483
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   periodo                   16539 non-null  int64
 1   comuna                    16539 non-null  int64
 2   n_personas_0_40_comuna    16539 non-null  int64
 3   n_personas_41_50_comuna   16539 non-null  object
 4   n_personas_51_60_comuna   16539 non-null  object
 5   n_personas_61_70_comuna   16539 non-null  object
 6   n_personas_71_80_comuna   16539 non-null  object
 7   n_personas_81_90_comuna   16539 non-null  object
 8   n_personas_91_100_comuna  16539 non-null  object
 9   total_comuna              16539 non-null  int64
dtypes: int64(4), object(6)
memory usage: 1.4+ MB

In [24]:

for i in range(3, 10):
    columna = df.columns[i]

    df[columna] = pd.to_numeric(df[columna], errors='coerce')

    df[columna] = df[columna].fillna(5)

    df[columna] = df[columna].astype('Int64')

C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = pd.to_numeric(df[columna], errors='coerce')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(5)
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].astype('Int64')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = pd.to_numeric(df[columna], errors='coerce')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(5)
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].astype('Int64')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = pd.to_numeric(df[columna], errors='coerce')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(5)
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].astype('Int64')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = pd.to_numeric(df[columna], errors='coerce')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(5)
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].astype('Int64')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = pd.to_numeric(df[columna], errors='coerce')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(5)
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].astype('Int64')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = pd.to_numeric(df[columna], errors='coerce')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(5)
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].astype('Int64')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = pd.to_numeric(df[columna], errors='coerce')
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].fillna(5)
C:\Users\boris\AppData\Local\Temp\ipykernel_23380\1381055863.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[columna] = df[columna].astype('Int64')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16539 entries, 0 to 343483
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   periodo                   16539 non-null  int64
 1   comuna                    16539 non-null  int64
 2   n_personas_0_40_comuna    16539 non-null  int64
 3   n_personas_41_50_comuna   16539 non-null  Int64
 4   n_personas_51_60_comuna   16539 non-null  Int64
 5   n_personas_61_70_comuna   16539 non-null  Int64
 6   n_personas_71_80_comuna   16539 non-null  Int64
 7   n_personas_81_90_comuna   16539 non-null  Int64
 8   n_personas_91_100_comuna  16539 non-null  Int64
 9   total_comuna              16539 non-null  Int64
dtypes: Int64(7), int64(3)
memory usage: 1.5 MB

In [26]:
df.columns

Index(['periodo', 'comuna', 'n_personas_0_40_comuna',
       'n_personas_41_50_comuna', 'n_personas_51_60_comuna',
       'n_personas_61_70_comuna', 'n_personas_71_80_comuna',
       'n_personas_81_90_comuna', 'n_personas_91_100_comuna', 'total_comuna'],
      dtype='object')

In [27]:
nombres =["Periodo", 'Comuna', 'Cantidad_40%', 'Cantidad_41-50%', 'Cantidad_51-60%',
          'Cantidad_61-70', "Cantidad_71-80%", 'Cantidad_81-90%', 'Cantidad_91-100%', 'Totales_por_comuna']

df.columns = nombres

In [28]:
df

,Periodo,Comuna,Cantidad_40%,Cantidad_41-50%,Cantidad_51-60%,Cantidad_61-70,Cantidad_71-80%,Cantidad_81-90%,Cantidad_91-100%,Totales_por_comuna
0,202308,1101,76653,12457,12836,12530,15521,29046,13110,172153
35,202308,1107,70091,9124,8694,7585,9161,13130,5463,123248
48,202308,1401,8421,1176,1143,1183,1382,1961,903,16169
92,202308,1402,1015,111,59,31,62,67,38,1383
98,202308,1405,3652,567,570,465,534,763,327,6878
...,...,...,...,...,...,...,...,...,...,...
343384,202305,16203,9563,1622,1463,1083,1203,1358,373,16665
343410,202305,16204,4350,403,251,280,239,348,109,5980
343433,202305,16303,9005,987,716,557,606,810,236,12917
343461,202305,16205,4095,372,283,262,223,265,69,5569
343483,202305,16305,10050,1301,1105,846,854,1008,281,15445

In [29]:
df = df.drop_duplicates()

In [30]:
df

,Periodo,Comuna,Cantidad_40%,Cantidad_41-50%,Cantidad_51-60%,Cantidad_61-70,Cantidad_71-80%,Cantidad_81-90%,Cantidad_91-100%,Totales_por_comuna
0,202308,1101,76653,12457,12836,12530,15521,29046,13110,172153
35,202308,1107,70091,9124,8694,7585,9161,13130,5463,123248
48,202308,1401,8421,1176,1143,1183,1382,1961,903,16169
92,202308,1402,1015,111,59,31,62,67,38,1383
98,202308,1405,3652,567,570,465,534,763,327,6878
...,...,...,...,...,...,...,...,...,...,...
343384,202305,16203,9563,1622,1463,1083,1203,1358,373,16665
343410,202305,16204,4350,403,251,280,239,348,109,5980
343433,202305,16303,9005,987,716,557,606,810,236,12917
343461,202305,16205,4095,372,283,262,223,265,69,5569
343483,202305,16305,10050,1301,1105,846,854,1008,281,15445

In [31]:
df = df.reset_index()

In [32]:
df = df.drop(columns='index')

In [33]:
df

,Periodo,Comuna,Cantidad_40%,Cantidad_41-50%,Cantidad_51-60%,Cantidad_61-70,Cantidad_71-80%,Cantidad_81-90%,Cantidad_91-100%,Totales_por_comuna
0,202308,1101,76653,12457,12836,12530,15521,29046,13110,172153
1,202308,1107,70091,9124,8694,7585,9161,13130,5463,123248
2,202308,1401,8421,1176,1143,1183,1382,1961,903,16169
3,202308,1402,1015,111,59,31,62,67,38,1383
4,202308,1405,3652,567,570,465,534,763,327,6878
...,...,...,...,...,...,...,...,...,...,...
16210,202305,16203,9563,1622,1463,1083,1203,1358,373,16665
16211,202305,16204,4350,403,251,280,239,348,109,5980
16212,202305,16303,9005,987,716,557,606,810,236,12917
16213,202305,16205,4095,372,283,262,223,265,69,5569
16214,202305,16305,10050,1301,1105,846,854,1008,281,15445

In [36]:
df.to_csv("Tramos_RSH_2019-2025.csv", index=False)